services:
  db:
    container_name: db
    build:
      context: ./db
    volumes:
      - postgres_data:/var/lib/postgresql/data/ # Persistent data storage for PostgreSQL
    ports:
      - "5432:5432"  # Expose port 5432 for external access
    # expose:
    #   - 5432
    env_file:
      - .env # Load environment variables
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    container_name: fastapi
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      POSTGRES_HOST: db
    volumes:
      - ./storage:/storage
    networks:
      - app-network

  celery:
    container_name: celery
    restart: always
    build:
      context: ./backend
    command: ["celery", "-A", "app.worker", "worker", "--loglevel=info", "--pool=solo", "--concurrency=1"]
    # command: ["tail", "-f"]
    depends_on:
      - redis
      - backend
    env_file:
      - .env
    shm_size: "10gb"
    environment:
      POSTGRES_HOST: db
    volumes:
      - ./storage:/storage
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    env_file:
      - .env
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

  redis:
    container_name: redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      device: ./db/postgres_data
      o: bind # Bind mount for local PostgreSQL data
  redis_data:
    driver: local
  
networks:
  app-network:
    driver: bridge